{% extends "layout.html" %}

{% block content %}

<span id="ansString" style="display:none">{{ansString}}</span>
<span id="att" style="display:none">{{att}}</span>
<span id="MTFN" style="display:none">{{MTFN}}</span>
<span id="name" style="display:none">{{current_user.username}}</span>

<div id="vue-app">

<span id="schema" style="display:none">{{SCHEMA}}</span>

<div class="content-section sticky">
    <div style="display:inline-block">
      <h1 @click="anon = !anon"> Pro Dashboard </h1>
      <audio controls autoplay id="instructorPlayer"></audio>

       <div :style="videoDisplay()" class="content-section">
           <video id="handlerVideo" ref="player" controls autoplay style="width:50%" playsinline></video>
           <div>
               <button class="btn btn-danger" @click="stop_video()" >Close</button>
           </div>
       </div>
      <span v-if="!anon"> Details:
      [[ studentName ]] [[ studentUnit]]
      </span>
    </div>
</div>

    <div style="overflow-x:auto;">
      <table class="table table-sm">

        <tbody>
        <template v-for="(userList, user) in ansOBJ" >
          <tr style="background:wheat">
              <td style="font-weight:14pt" colspan=13> <span v-if="anon"> user </span><span v-else> [[ user ]] </td>

          </tr>

            <template v-for="(item, key) in ansOBJ[user]">
              <tr v-if="item.idNum && showAll(key)">
                <td > <button @click="edit(item.idNum, key)" > [[  key ]] </button> </td>
                <td> <button @click="play(item.A01)" :class="getColor(item.A01)"> [[  getTag(item.A01) ]] </button> <br>
                  <button @click="playVideo(item.A02)" :class="getColor(item.A02)"> [[  getTag(item.A02) ]] </button> <br>
                <div v-if="item.A02">
                    <a :href="item.A02" :download="getDownload(item.A02)" :style="getDevice(item.device)">DL_[[item.device]]</a> <br>
                    <div>
                    <input type="file" :id="'video' + key + user + 1" accept="video/*" @change="videoValidation(key, user, 1)"> </input> <button class="btn btn-secondary btn-sm"> Select </button>
                  </div>
                  <div v-if="video64['fileType'] && video64['key'] == key + user + 1">
                    <button  class="btn btn-danger btn-sm" @click="storeB64(getDownload(item.A02))">Upload</button>
                  </div>
                </div>
              </td>

                <td style="width: 45px; word-wrap: break-word"> <div class="noScrollBar" style="overflow:scroll;width:210px;height:110px"><span> <b>[[getText(item.A03, 0)]]</b> <br> [[getText(item.A03, 1)]] </span> </div></td>

                <td> <button @click="play(item.A04)" :class="getColor(item.A04)"> [[  getTag(item.A04) ]] </button> <br>
                     <button @click="playVideo(item.A05)" :class="getColor(item.A05)"> [[  getTag(item.A05) ]] </button> <br>
                  <div v-if="item.A05">
                     <a :href="item.A05" :download="getDownload(item.A05)" :style="getDevice(item.device)">DL_[[item.device]]</a> <br>
                     <div>
                      <input type="file" :id="'video' + key + user + 2" accept="video/*" @change="videoValidation(key, user, 2)"> </input> <button class="btn btn-secondary btn-sm"> Select </button>
                    </div>
                    <div v-if="video64['fileType'] && video64['key'] == key + user + 2">
                      <button  class="btn btn-danger btn-sm" @click="storeB64(getDownload(item.A05))">Upload</button>
                    </div>
                  </div>
                </td>

                <td style="width: 45px; word-wrap: break-word"> <div class="noScrollBar" style="overflow:scroll;width:210px;height:110px"><span> <b>[[getText(item.A06, 0)]]</b> <br> [[getText(item.A06, 1)]] </span> </div></td>

                <td> <button @click="play(item.A07)" :class="getColor(item.A07)"> [[  getTag(item.A07) ]] </button> <br>
                  <button @click="playVideo(item.A08)" :class="getColor(item.A08)"> [[  getTag(item.A08) ]] </button> <br>
                <div v-if="item.A08">
                  <a :href="item.A08" :download="getDownload(item.A08)" :style="getDevice(item.device)">DL_[[item.device]]</a> <br>
                  <div>
                   <input type="file" :id="'video' + key + user + 3" accept="video/*" @change="videoValidation(key, user, 3)"> </input> <button class="btn btn-secondary btn-sm"> Select </button>
                 </div>
                 <div v-if="video64['fileType'] && video64['key'] == key + user + 3">
                   <button  class="btn btn-danger btn-sm" @click="storeB64(getDownload(item.A08))">Upload</button>
                 </div>
              </div>
             </td>
                <td style="width: 45px; word-wrap: break-word"> <div class="noScrollBar" style="overflow:scroll;width:210px;height:110px"><span> <b>[[getText(item.A09, 0)]]</b> <br> [[getText(item.A09, 1)]] </span> </div></td>

                <td> [[  item.G  ]] </td>
                <td> <textarea type="text" :style="commentStyle(item.C)" :id="user+key" v-model="item.C" required> </textarea></td>
                <td> <button @click="commentSet(user,key)"> Up </button> <br>
                  <button style="background:coral" @click="setComment(key, user), item.C = ''"> Cl </button>
                  <button style="background:coral;display:none" @click="setComment(key, user)"> Set </button> <br>
                  <button style="background:aqua" @click="showAss(key, user)"> ppt </button>
                </td>

              </tr>
              <tr v-if="showAll(key) && showPPT[0] == key && showPPT[1] == user ">
                <td colspan="9">

                  <div  class="embed-responsive embed-responsive-4by3">
                      <iframe  :src="item.F"
                          allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
                      </iframe>
                  </div>
                </td>
              </tr>
            </template>



         </template>

        </tbody>

      </table>
    </div>

</div>


</div> <!-- end of Vue app -->


{% endblock %}

{% block script %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<script type="text/javascript" >

var ansString = document.getElementById('ansString').innerHTML
var OBJ = JSON.parse(ansString)
console.log('unitOBJ', OBJ);
var SCHEMA = document.getElementById('schema').innerHTML
console.log('schema', SCHEMA);

var MTFN = document.getElementById('MTFN').innerHTML
console.log('MTFN', MTFN);

var ATT = document.getElementById('att').innerHTML
console.log('att', ATT);

var name = document.getElementById('name').innerHTML
console.log('name', name);

startVue()

function startVue(){

  let vue = new Vue({

    el: '#vue-app',
    delimiters: ['[[', ']]'],
    mounted: function(){
      if (this.att == '97') {
        this.anon = false
      }
      console.log('SHOW OLD', this.showOld)
      if (MTFN == 'FN') {
        this.showOld = false
      }

    },
    data: {
        instructor: name,
        showPPT: ['',''],
        MTFN: MTFN,
        showOld: true,
        ansOBJ: OBJ,
        att: ATT,
        nComment: null,
        anon: true,
        showNotes: null,
        comment: {
          intro: null,
          speak: null,
          pron: null,
          write: null,
          extra: null
        },
        studentName: null,
        studentUnit: null,
        extra: '',
        SCHEMA : parseInt(SCHEMA),
        showVideo : false,
        video64 : {
          fileType : null,
          base64 : null,
      }

    },
    methods: {
        videoDisplay: function () {
          if (!this.showVideo) {
            return 'display:none'
          } else {
            return 'width:50%'
          }
        },
        getTag: function (link) {
          if (link) {
            return link.slice(-4) // + link.slice(-3) + link.slice(-2) + link.slice(-1)
          } else {
            return '---'
          }
        },
        getColor: function (link) {
          if (link && link.slice(-4) == '.mov') {
            return 'btn btn-sm btn-success'
          } else if (link && link.slice(-4) == '.mp4'){
            return 'btn btn-sm btn-outline-info'
          }
        },
        getDevice: function (dev) {
          if (dev == 'Apple') {
            return 'background:lightgreen'
          } else {
            return 'background:lightblue'
          }
        },
        getText: function (text, i) {
          console.log(JSON.parse(text))
          if (text) {
            return JSON.parse(text)[i]
          } else {
            return '---'
          }
        },
        getDownload: function (link) {
          if (link) {
            console.log(link)
            let string = link.split('assignments/')[1]
            console.log(string)
            let st_arr = string.split('/')
            user = st_arr[0]
            title = st_arr[1].split('.')[0]
            return title + '_' + user
          }

        },
        playVideo: function (arg, mode) {
          player = document.getElementById('handlerVideo')
          this.showVideo = true

          console.log(player)
          player.src = arg
        },
        stop_video: function () {
          this.showVideo = false
          player = document.getElementById('handlerVideo')
          player.src = null
        },
        getList: function (arg) {
          textJSON = [arg]
          if (arg && arg.includes('["')) {
            textJSON = JSON.parse(arg)
          }
          return textJSON

        },
        showAss: function (key, user) {
          console.log(key, user, this.showPPT == ['',''])
          if (this.showPPT[1] == user) {
            this.showPPT = ['','']
          } else {
            this.showPPT = [key, user]
          }

        },
        showAll: function (key) {

          allList = ['01', '02', '03', '04']
          if (this.SCHEMA == 6) {
            allList.push('05')
          }

          if (this.showOld == false && allList.includes(key)) {
            //console.log('showAll', key)
            return false
          } else {
            return true
          }

        },
        setComment: function(key, user){
          this.studentName = user
          this.studentUnit = key
        },
        addComment: function(key){
          this.ansOBJ[this.studentName][this.studentUnit].C += this.comment[key]
        },
        addExtra: function(){
          this.ansOBJ[this.studentName][this.studentUnit].C += (this.extra + ' ')
        },
        play: function(audio){
          document.getElementById('instructorPlayer').src = audio
        },
        edit: function(key, unit){
          console.log(key, unit)
          let tag = ''

          unitList = {
            1 : '091',
            2 : '092',
            3 : '093',
            4 : '094',
            5 : '101',
            6 : '102',
            7 : '103',
            8 : '104',

          }

          tag = '_pron'

          let url = (window.location.href).split('dashboard')[0] + 'admin/' + 'u' + unitList[parseInt(unit)] + 'u' + tag + '/edit/?id=' + key

          console.log('goTO', url);
          // go to new tab...........
          window.location = url
        },
        commentStyle: function(comment){
          console.log(comment);
          if(comment.includes("on time")){
            return {width:'100%', 'background-color':'pink', height: '30px !important'}
          }
          else if(comment.includes("check..") || comment.includes("check-") || comment.includes("audio") ){
            return {width:'100%', 'background-color':'thistle', height: '30px !important'}
          }
          else if(comment.includes("progress")){
            return {width:'100%', 'background-color':'orange', height: '30px !important'}
          }
          else if(comment.includes("completed late")){
            return {width:'100%', 'background-color':'yellow', height: '110px !important'}
          }
          else{
            return {width:'100%', 'background-color':'lightgreen', height: '110px !important'}
          }
        },
        commentSet: function(user, unit){
          var comment = document.getElementById(user+unit).value
          if (this.instructor == 'Cherry Wai') {
            comment += ', thanks, Cherry'
          }
          console.log(user, unit);
          $.ajax({
          data : {
              comment : comment,
              user : user,
              unit : unit,
          },
          type : 'POST',
          url : '/commentSet'
          })
          .done(function(data) {
           alert(data.comment);

          })
          .fail(function(){
            alert('Failed, check server')
          });

        },
        storeB64 : function(key) {

          alert('data uploading, please wait')

          var b64data = this.video64['base64']
          var fileType = 'mov'


          $.ajax({
            data : {
              b64data : b64data,
              fileType : fileType,
              fileName : key,
            },
            type : 'POST',
            url : '/pronstoreB64',
          })
          .done(function(data) {
              console.log(data);
              alert('mov updated')
              location.reload()
          })
          .fail(function(){
              alert('error - see instructor')
          });
        },
        videoValidation : function(key, user, int){
          var fileInput = document.getElementById('video' + key + user + int);
          console.log('file', fileInput)
          var filePath = fileInput.value;
          var allowedExtensions = /(\.mov)$/i;

          if(!allowedExtensions.exec(filePath)){
              alert('Please upload video file: .mov only.');
              fileInput.value = '';
              return false;
          }
          else{
              console.dir( fileInput.files[0] );
              var url = window.URL.createObjectURL(fileInput.files[0]);
              fetch(url)
              .then(function(res){
                  return res.blob();
                  })
              .then(function(savedBlob){

              var reader = new FileReader();
              reader.readAsDataURL(savedBlob);
              reader.onloadend = function() {
                      vue.video64['base64'] = reader.result.split(',')[1];
                      vue.video64['fileType'] = true
                      vue.video64['key'] = key + user + int
                  }
              })
          }//end else
        },//end audioValidation
    }
})// end NEW VUE



}// endFunction

</script>

{% endblock %}

